*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background: linear-gradient(90deg, 
        #000000 0%, 
        #04060f 40%, 
       #020513  100%
    );
    color:#f2eaea;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background: linear-gradient(90deg, 
        #000000 0%, 
        #05060f 40%, 
       #020511  100%
    );;
}
.header nav {
    display: flex;
    align-items: center;
    gap: 6px;
}
.header .logo{
    font-size:20px;
    font-weight:700;
    text-decoration:none;
    color:#27e1ff;
}
.header a:hover{
    background-position: right center;
    text-shadow: 0 0 15px rgba(39, 225, 255, 0.8);
}
.header nav a{
    margin-left:20px;
    color:#f2eaea;
    text-decoration:none;
    font-size:14px; 
}
nav a:hover {
    color: #00e5ff;
    transform: translateY(-3px);
}

#home{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 40px;
    padding: 70px 8%;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homecontent h4{
    letter-spacing:2px;
    font-weight:400;
    font-size: 44px;
}

.homecontent h4 span{
    color:#27e1ff;
    font-weight:700;
}

.homecontent h1{
    font-size:40px;
    margin:15px 0;
    font-size: 64px;
}
.buttons{
    margin-top:25px;
}

.btn{
    padding:10px 50px;
    background:#27e1ff;
    color:black;
    border-radius:25px;
    font-size: 20px;
    text-decoration:none;
    margin-right:12px;
    display:inline-block;
    cursor:pointer;
    transition:all 0.3s ease;
}
.btn:hover{
    transform:translateY(-2px);
    box-shadow:0 6px 18px rgba(39,225,255,0.35);
}

.btn.resume{
    background:transparent;
    border:1px solid #27e1ff;
    color:#ffffff;
    font-size: 20px;
}


.btn.resume:hover{
    color: linear-gradient(90deg, 
        #000000 0%, 
        #04060f 40%, 
        #020513  100%
    );
    box-shadow:0 6px 18px rgba(39,225,255,0.35);
    transform:translateY(-2px);
}

#about{
    min-height:100vh;
    display:grid;
    align-items:center;    
    background: linear-gradient(90deg, 
        #000000 0%, 
        #04060f 40%, 
       #020513  100%
    );
    padding:80px 8%;       
}
.about-card{
    width:100%;
    max-width:1100px;
    min-height:85vh;
    display:grid;
    grid-template-columns:1.5fr 1fr;
    align-items:center;
    gap:240px;  
    padding:60px 70px;
    border-radius:26px;
    background: linear-gradient(90deg, 
        #000000 0%, 
        #04060f 40%, 
        #020513  100%
    );
    overflow:hidden;
}
.about-left{
    display:grid;
    align-content:center;
    gap:16px;
    margin-bottom:30px;
}
.about-left{
    text-align: justify;
    color:#b8c1ec;
}

#about h1{
    margin-bottom:40px;
    font-size:42px;
    color:#ffffff;  
}

#about h1 span{
    color:#27e1ff;            
}
.about-contact p{
    margin:0;
    font-size:14px;
    color:#aab6ff;
    line-height:1.4;
}
.about-contact{
    margin-top:50px;
    display:grid;
    grid-template-columns: 26px 1fr;   
    gap:12px 12px;                   
    align-items:center;
}
.about-contact img{
    width:18px;
    height:18px;
    object-fit:contain;
    display:block;
}

.about-contact p{
    font-size:16px;
    color:#cfd9ff;
}
.about-right{
    display:grid;
    justify-items:start;   
    align-items:center;
}

.photo-wrap{
    width:280px;
    height:360px;
    border-radius:140px;
    padding:4px;
    background:linear-gradient(180deg,#27e1ff,#6a6cff);
}

.photo-wrap img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:140px;
    display:block;
}
#experience{
    display:grid;
    grid-template-columns:1fr 1.4fr;
    gap:40px;
    padding:80px 8%;
    min-height:100vh;

}

.experience-text h2{
    font-size:32px;
    margin-bottom: 30px;
     margin-top:40px;
}

.experience-text span{
    color:#27e1ff;
}

.experience-text p{
    margin:20px 0;
    color:#b8c1ec;
    line-height:1.6;
    text-align: justify;
}

.experience-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
     margin-top:40px;
}

.card{
    background:#080c15;
    padding:25px;
    border-radius:16px;
    transition:0.3s;
}

.card:hover{
       transform: translateY(-8px);
    box-shadow: 
        0 10px 30px rgba(39, 225, 255, 0.25),
        0 0 20px rgba(39, 225, 255, 0.3);
}

.card h2{
    margin-bottom:10px;
    color:#27e1ff;
    font-size:18px;
    text-align: center;
}

.card p{
    font-size:15px;
    color:#b8c1ec;
    text-align: center;
    margin-top: 30px;
}

.git{
   padding:10px 24px;
    background:#27e1ff;
    color:black;
    border-radius:25px;
    text-decoration:none;
    font-size:15px;
    margin-right:12px;
    display:inline-block;
    cursor:pointer;
    transition:all 0.3s ease;
}  
.git:hover{
    transform:translateY(-2px);
}
#skills{
    padding:80px 8%;
    background:#050505;
    text-align:center;
    min-height:100vh;
    background: linear-gradient(90deg, 
        #000000 0%, 
        #04060f 40%, 
       #020513  100%
    );
}

.section-title{
    font-size:32px;
    margin-top:60px;
}

.section-title span{
    color:#27e1ff;
}

.skills-sub{
    color:#b8c1ec;
    margin-bottom:50px;
}

.skills-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    text-align:left;
}
.skills h3{
    margin-bottom:20px;
    font-size:22px;
}
.education h3{
     margin-top:20px;
    font-size:22px;
    margin-bottom:20PX;
}
.clg{
    margin-bottom:25px;
}

.clg span{
    color:#27e1ff;
    font-size:13px;
}

.clg h4{
    margin:6px 0;
}
.clg p{
    color:#b8c1ec;
    font-size:14px;
}
.skill{
    margin-bottom:18px;
}

.title{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    margin-bottom:6px;
}

.bar{
    width:100%;
    height:6px;
    background:#1a2744;
    border-radius:10px;
    overflow:hidden;
}
.percent{
    height:100%;
    background:#27e1ff;
    border-radius:10px;
}
#contact{
    padding:60px 8%;
    background: linear-gradient(90deg, 
        #000000 0%, 
        #04060f 40%, 
        #020513  100%
    );
    color:#fff;
}

.contact-title{
    text-align:center;
    font-size:34px;
    margin-bottom:60px;
}

.contact-title span{
    color:#27e1ff;
}

.contact-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:35px;
    max-width:900px;     
    margin:0 auto;    
}
.contact-box{
   
    border-radius:16px;
    padding:22px 22px;        
    background:#080c15;
}
.contact-box h3{
    margin-bottom:18px;
    font-size:18px;
}

.contact-box label{
    display:block;
    font-size:13px;
    margin-bottom:6px;
    color:#cfd9ff;
}

.contact-box input,
.contact-box textarea{
    width:100%;
    background:transparent;
    border:1px solid #042125;
    border-radius:10px;
    padding:10px 12px;       
    color:#fff;
    margin-bottom:14px;
    outline:none;
    font-size:13px;
}

.contact-box textarea{
    resize:none;
}

.contact-box button{
    width: 100%;
    border: none;
    background: rgba(9, 97, 110, 0.6);
    color: white; 
    padding: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s ease;
}

.contact-box button:hover{
    transform: translateY(-3px);
}
.contact-right{
    display:flex;
    flex-direction:column;
    gap:24px;               
}
.small-box{
    padding:18px 20px;    
}
.small-box p{
    font-size:20px;
    line-height:1.6;
    color:#cfd9ff;
}
.socials-box{
    padding: 25px 30px;
}
.social-icons{
    display: flex;
    justify-content: space-between;   
    margin-top: 25px;
}
.social-icons a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background:#080c15;
    transition: 0.3s ease;
}

.social-icons a img{
    width: 45px;
    height: 45px;
    object-fit: contain;
}

@media (max-width:480px){
    .header nav a{
        font-size: 14px;
    }

    .header{
        padding: 15px 5%;
    }
    .homecontent h1{
        font-size:28px;
    }

    .homecontent h4{
        font-size:18px;
    }

    .btn{
        padding:8px 22px;
        font-size:14px;
    }

    .photo-wrap{
        width:180px;
        height:240px;
    }

    .card{
        padding:18px;
    }

    .contact-box{
        padding:18px;
    }
    
    .social-icons a{
        width:40px;
        height:40px;
    }

    .social-icons a img{
        width:50px;
        height:50px;
    }
}
@media (max-width:992px){

    #home{
        grid-template-columns:1fr;
        text-align:center;
        padding:60px 5%;
    }

    .homecontent h1{
        font-size:48px;
    }

    .about-card{
        grid-template-columns:1fr;
        gap:50px;
        text-align:center;
    }
     .about-right{
        display: flex;
        justify-content: center;
    }
    #experience{
        grid-template-columns:1fr;
    }

    .experience-grid{
        grid-template-columns:1fr 1fr;
    }

    .skills-grid{
        grid-template-columns:1fr;
    }

    .contact-grid{
        grid-template-columns:1fr;
    }
}